body {
  margin: 0;
}

body, input, select, button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 120%;
}

button, select, input {
  margin: 5px;
}

input {
  min-width: 350px;
}

code {
  font-family: 'Fira Mono', Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
